<div id="closing-account-view" style="display: none;">
  <div id="response-loading" role="progressbar" style="display: block;"
    class="mdc-linear-progress mdc-linear-progress--indeterminate" aria-label="Loading Bar" aria-valuemin="0"
    aria-valuemax="1" aria-valuenow="0">
    <div class="mdc-linear-progress__buffer">
      <div class="mdc-linear-progress__buffer-bar"></div>
      <div class="mdc-linear-progress__buffer-dots"></div>
    </div>
    <div class="mdc-linear-progress__bar mdc-linear-progress__primary-bar">
      <span class="mdc-linear-progress__bar-inner"></span>
    </div>
    <div class="mdc-linear-progress__bar mdc-linear-progress__secondary-bar">
      <span class="mdc-linear-progress__bar-inner"></span>
    </div>
  </div>
  <p id="close-result" style="text-align: center;">
    Please wait...
  </p>
</div>
<div class="mdc-snackbar" style="margin: 0 !important;position: absolute;top: 0px;">
  <div class="mdc-snackbar__surface" role="status" aria-relevant="additions">
    <div class="mdc-snackbar__label" aria-atomic="false">
      <p>Please be careful. If you close your account, you will not be able to restore it again.</p>

      <div style="text-align: center;">
        <button type="button" class="mdc-button" id="accept-close-acc" style="color: white; background-color: #b00020;">
          <div class="mdc-button__ripple"></div>
          <span class="mdc-button__label">Close Account</span>
        </button>
        <button type="button" class="mdc-button" id="cancel-close-acc" style="color: white; background-color: green;">
          <div class="mdc-button__ripple"></div>
          <span class="mdc-button__label">Keep Account</span>
        </button>
      </div>
    </div>
  </div>
</div>
<div class="acc-view" id="acc-view">

  <div style="padding-left: 30px; padding-top: 20px;">
    <button class="mdc-button" id="back-button">
      <span class="mdc-button__ripple"></span>
      <i class="material-icons mdc-button__icon" aria-hidden="true">keyboard_arrow_left</i>
      <span class="mdc-button__label">Back</span>
    </button>
  </div>

  <ul class="mdc-list mdc-list--two-line">
    <li class="mdc-list-item" tabindex="0">
      <span class="mdc-list-item__ripple"></span>
      <span class="mdc-list-item__text">
        <span class="mdc-list-item__primary-text">Connection status notification</span>
        <span class="mdc-list-item__secondary-text" id="not-switch-state"></span>
      </span>
      <span class="mdc-list-item__meta">
        <div id="switch-notification" class="mdc-switch mdc-switch--checked">
        <div class="mdc-switch__track"></div>
        <div class="mdc-switch__thumb-underlay">
          <div class="mdc-switch__thumb"></div>
          <input type="checkbox" id="notification-switch" class="mdc-switch__native-control" role="switch" aria-checked="true" checked>
        </div>
      </div>
      </span>
    </li>
    <li class="mdc-list-item">
      <span class="mdc-list-item__ripple"></span>
      <span class="mdc-list-item__text">
        <span class="mdc-list-item__primary-text">VPN extension conflict warning</span>
        <span class="mdc-list-item__secondary-text" id="warning-switch-state"></span>
      </span>
      <span class="mdc-list-item__meta">
        <div id="switch-warning" class="mdc-switch mdc-switch--checked">
          <div class="mdc-switch__track"></div>
          <div class="mdc-switch__thumb-underlay">
            <div class="mdc-switch__thumb"></div>
            <input type="checkbox" id="warning-switch" class="mdc-switch__native-control" role="switch" aria-checked="true" checked>
          </div>
        </div>
      </span>
    </li>
  </ul>

  <div style="padding-left: 15px;margin-top: 30px;">
      If you want to close your account
      <span class="acc-view__close-acc" id="close-account">click here.</span>
    
  </div>
</div>