<div id="connected-view" class="connected-view">
	<div id="connected-ext-warning" class="connected-view__proxy-ext-warning">
		If you encounter connection problems the reason might be other active VPN extensions on your browser. 
		Please deactivate them and connect again.
	</div>
	<div id="connected-container" class="connected-view__container connected-view__middle">
		<div class="wrapper">
			

			<p class="connected-view__status-title">CONNECTED</p>

			<div class="connected-view__iplocation-title"> SERVER LOCATION</div>
			<div id="country-flag"></div>
			<div id="connected-country" class="connected-view__country"></div>

			<div class="connected-view__button-container">
				<button id="ip-lookup-button" class="mdc-button mdc-button--raised connected-view__lookup-btn">
					<span class="mdc-button__label">IP Lookup</span>
				</button>
				<div class="connected-view__button-container__disconnect-button">
					
					<button id="connected-disconnect-button" class="mdc-button mdc-button--raised">
						<span class="mdc-button__label">{DashboardTurnOff}</span>
					</button>
				</div>

			</div>

		</div>
	</div>
</div>
