<div class="server-not-found">
    <i class="material-icons server-not-found__close" id="prem-teaser-close">close</i>
    <div class="server-not-found__top">

        <div class="server-not-found__top__content">
            <div class="server-not-found__top__content__title">Could not connect to any free server in <span id="failed-country"></span>
            </div>

            <div class="server-not-found__top__content__info">
                <p>The reason could be that FREE servers are blocked in your network. Please try premium servers.</p>
            </div>

        </div>

        <div class="server-not-found__top__round">
        </div>

        <div class="server-not-found__prem-container">
            <div class="server-not-found__feature-list">


                <div class="prem-features__feature-list" style="margin-top:0px;">

                    <div class="prem-features__feature-list__row" style="height: 70px;">
                        <div class="prem-features__feature-list__row__item" style="color: #fff">
                            <i class="material-icons" style="color: #fff">storage</i>
                            <p class="prem-features__feature-list__row__item__text" style="color: #fff">2.000+ servers</p>
                        </div>
                        <div class="prem-features__feature-list__row__item" style="color: #fff">
                            <i class="material-icons" style="color: #fff">language</i>
                            <p class="prem-features__feature-list__row__item__text" style="color: #fff">45+ locations</p>
                        </div>
                    </div>

                    <div class="prem-features__feature-list__row" style="height: 70px;">
                        <div class="prem-features__feature-list__row__item" style="color: #fff">
                            <i class="material-icons" style="color: #fff">network_check</i>
                            <p class="prem-features__feature-list__row__item__text" style="color: #fff">4x faster</p>
                        </div>
                        <div class="prem-features__feature-list__row__item" style="color: #fff">
                            <i class="material-icons" style="color: #fff">verified_user</i>
                            <p class="prem-features__feature-list__row__item__text" style="color: #fff">No bandwidth or quota limitation</p>
                        </div>
                    </div>

                </div>

                <p class="server-not-found__feature-list__more" id="more-feature">And much more...</p>

            </div>

            <div class="server-not-found__action">
                <button class="mdc-button mdc-button--raised" id="start-upgrade-button" style="background-color: #FF8008;">
                    <span class="mdc-button__label">Start Upgrade now</span>
                </button>
                <p style="text-align: center;font-size: 10px;">No subscription</p>
                <div>
                    <a style="display:none" id="gettrial-btn" href="#" class="btn btn--yellow"></a>
                </div>

                <p class="server-not-found__action__continue" id="continue-button">Continue as free user</p>
            </div>
        </div>
    </div>
</div>